{% extends '../layout/layout.html' %}

{% block script %}
        <script src="/static/js/vendors/zoom.js"></script> 
{% endblock %} 

{% block content %}

<div class="page-path">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="path-title">Cart</h1>
            <ul>
                <li><a class="home-page-link" href="{% url 'store:index' %}">Home<i class="fal fa-angle-right"></i></a></li>
                <li><a class="current-page" href="#">Cart</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- ..::Cart Section Start Here::.. -->
<div class="rts-cart-section">
    <div class="container">
        <h4 class="section-title">Product List</h4>
        <div class="row justify-content-between">
            <div class="col-xl-7">
                <div class="cart-table-area">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                        </thead>
                        <tbody>
                        {% for i in items %}
                            <tr>
                                <td><div class="product-thumb"><img src="{{item.image.url}}" alt="product-thumb"></div></td>
                                <td>
                                    <div class="product-title-area">
                                        <span class="pretitle">{{item.category}}</span>
                                        <h4 class="product-title">{{item.title}}</h4>
                                    </div>
                                </td>
                                <td><span class="product-price">$69.00</span></td>
                                <td>
                                    <div class="cart-edit">
                                        <div class="quantity-edit">
                                            <button class="button"><i class="fal fa-minus minus"></i></button>
                                            <input type="text" class="input" value="3" />
                                            <button class="button plus">+<i class="fal fa-plus plus"></i></button>
                                        </div>
                                    </div>
                                </td>
                                <td class="last-td"><button class="remove-btn">Remove</button></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="checkout-box">
                    <div class="checkout-box-inner">
                        <div class="subtotal-area">
                            <span class="title">Subtotal</span>
                            <span class="subtotal-price">$364.00</span>
                        </div>
                        <div class="shipping-check">
                            <span class="title">Shipping</span>
                            <div class="check-options">
                                <form>
                                        <div class="form-group">
                                        <input type="checkbox" id="fltrt">
                                        <label class="check-title" for="fltrt">Flat rate</label>
                                        </div>
                                        <div class="form-group">
                                        <input type="checkbox" id="frsh">
                                        <label class="check-title" for="frsh">Free shipping</label>
                                        </div>
                                </form>
                            </div>
                        </div>
                        <div class="shipping-location">
                            <span class="shipping-to">Shipping to <span>NY.</span></span>
                            <span class="change-address"><i class="fal fa-map-marker-alt mr--5"></i>Change address</span>
                        </div>
                        <div class="total-area">
                            <span class="title">Total</span>
                            <span class="total-price">$364.00</span>
                        </div>
                    </div>
                    <a href="#" class="procced-btn">Procced To Checkout</a>
                    <a href="#" class="continue-shopping"><i class="fal fa-long-arrow-left"></i> Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ..::Cart Section End Here::.. -->

{% endblock content %}