{% extends '../layout/layout.html' %}

{% load humanize %}

{% block script %}
        <script src="/static/js/vendors/zoom.js"></script> 
{% endblock %} 

{% block content %}

<div class="page-path">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="path-title">Cart</h1>
            <ul>
                <li><a class="home-page-link" href="{% url 'store:index' %}">Home<i class="fal fa-angle-right"></i></a></li>
                <li><a class="current-page" href="#">Cart</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- ..::Cart Section Start Here::.. -->
<div class="rts-cart-section">
    <div class="container">
        <h4 class="section-title">Product List</h4>
        <div class="row justify-content-between">
            <div class="col-xl-7">
                <div class="cart-table-area">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                        </thead>
                        <tbody>
                        {% for item in items %}
                            
                            <tr class="item_div_{{item.id}}">
                                <td><div class="product-thumb"><img src="{{item.product.image.url}}" style="width: 100px; height:100px; object-fit: cover;" alt="product-thumb"></div></td>
                                <td>
                                    <div class="product-title-area">
                                        <span class="pretitle">{{item.product.category}}</span>
                                        <h4 class="product-title">{{item.product.name}}</h4>
                                    </div>
                                </td>
                                <td><span class="product-price">₦ {{item.price|intcomma}}</span></td>
                                <td>
                                    <div class="cart-edit">
                                        <div class="quantity-edit">
                                            <button class="button update_cart_qty" data-update_type="decrease" data-item_id="{{item.id}}" data-product_id="{{item.product.id}}"><i class="fal fa-minus minus"></i></button>
                                            <input type="text" class="input item-qty-{{item.id}}" value="{{item.qty}}" />
                                            <button class="button plus update_cart_qty" data-update_type="increase" data-item_id="{{item.id}}" data-product_id="{{item.product.id}}">+<i class="fal fa-plus plus"></i></button>
                                        </div>
                                    </div>
                                </td>
                                <td><span class="product-price ">₦ <span class="item_sub_total_{{item.id}}">{{item.sub_total|intcomma}}</span></span></td>
                                <td>
                                <td class="last-td"><button class="remove-btn delete_cart_item" data-item_id="{{item.id}}" data-product_id="{{item.product.id}}" title="Remove item">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                                </td>
                            </tr>
                            
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="checkout-box">
                    <div class="checkout-box-inner">
                        <div class="subtotal-area">
                            <span class="title">Subtotal</span>
                            <span class="subtotal-price"> ₦ <span class="cart_sub_total">{{ cart_sub_total|floatformat:2|intcomma }}</span></span>
                        </div>
                        <div class="shipping-check">
                            <span class="title">Shipping</span>
                            <div class="check-options">
                                <form>
                                    <div class="form-group d-flex justify-content-between align-items-center">
                                        <label class="check-title" for="fltrt">Tax</label>
                                        <span class="price">₦ 0.00</span>
                                    </div>
                                    <div class="form-group d-flex justify-content-between align-items-center">
                                        <label class="check-title" for="frsh">Shipping</label>
                                        <span class="price">₦ 0.00</span>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                        
                        <div class="total-area">
                            <span class="title">Total</span>
                            <span class="total-price">₦ <span class="cart_sub_total">{{ cart_sub_total|floatformat:2|intcomma }}</span></span>
                        </div>
                    </div>
                    <a href="{% url 'store:checkout' %}" class="procced-btn">Procced To Checkout</a>
                    <a href="#" class="continue-shopping"><i class="fal fa-long-arrow-left"></i> Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ..::Cart Section End Here::.. -->

{% endblock content %}