{% extends '../layout/layout.html' %}

{% load humanize %}

{% block content %}

<div class="page-path">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="path-title">Checkout</h1>
            <ul>
                <li><a class="home-page-link" href="{% url 'store:index' %}">Home<i class="fal fa-angle-right"></i></a></li>
                <li><a class="current-page" href="#">Checkout</a></li>
            </ul>
        </div>
    </div>
</div>

<form method="post" enctype="multipart/form-data" id="checkoutForm"novalidate>
    {% csrf_token %}
    <div class="rts-checkout-section">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left side: Form -->
                <div class="col-xl-8">
                    <div class="checkout-form">
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="input-div">
                                    {{ form.full_name }}
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="input-div">
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="input-div">
                                    {{ form.mobile }}
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="input-div">
                                    {{ form.city }}
                                </div>
                            </div>
                            
                            <div class="col-xl-6 col-md-6">
                                <div class="input-div">
                                    {{ form.address }}
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="input-div">
                                    {{ form.apartment }}
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="input-div">
                                    {{ form.notes }}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- Right side: Cart and Payment -->
                <div class="col-xl-4">
                    <div class="action-item">
                        <div class="action-top">
                            <span class="action-title">Product</span>
                            <span class="subtotal">Subtotal</span>
                        </div>
                        {% for item in cart_data %}
                        <div class="category-item">
                            <div class="category-item-inner">
                                <div class="category-title-area">
                                    <span class="category-title">{{ item.product.name }} × {{ item.qty }}</span>
                                </div>
                                <div class="price">₦ {{ item.sub_total|floatformat:2|intcomma }}</div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="action-middle">
                            <span class="subtotal">Subtotal</span>
                            <span class="total-price">₦ {{ cart_total_amount|floatformat:2|intcomma }}</span>
                        </div>
                        <div class="shipping-options checkout-options">
                            <span class="shipping">Shipping</span>
                            <div class="form-group d-flex justify-content-between align-items-center">
                                <label class="check-title">Tax</label>
                                <span class="price">₦ 0.00</span>
                            </div>
                            <div class="form-group d-flex justify-content-between align-items-center">
                                <label class="check-title">Shipping</label>
                                <span class="price">₦ 0.00</span>
                            </div>
                        </div>
                        <div class="action-bottom">
                            <span class="total">Total</span>
                            <span class="total-price">₦ {{ cart_total_amount|floatformat:2|intcomma }}</span>
                        </div>
                    </div>

                    <div class="action-item m-0">
                        <div class="payment-options checkout-options">
                            <div class="form-group">
                                <input type="checkbox" id="drbank" name="payment_method" value="bank">
                                <label class="check-title" for="drbank">Direct bank transfer</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="freetrans" name="payment_method" value="cod">
                                <label class="check-title" for="freetrans">Cash on delivery</label>
                            </div>
                            <div class="form-group last-child">
                                <input type="checkbox" id="paypl" name="payment_method" value="paypal">
                                <label class="check-title" for="paypl">Flutterwave </label>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="place-order-btn" id="placeOrderBtn">Place Order</button>
                </div>
            </div>
        </div>
    </div>


</form>
   
    



{% endblock content %}