{% extends '../layout/layout.html' %}


{% block script %}
        <script src="/static/js/vendors/zoom.js"></script> 
{% endblock %} 

{% block content %}

<header id="rtsHeader"> 
    
    
    <div class="banner banner-1 bg-image">
        <div class="container">
            <div class="banner-inner">
                <div class="row">
                    <div class="col-xl-2 col-md-4 col-sm-12 gutter-1">
                        <div class="catagory-sidebar">
                            <div class="widget-bg">
                                <h2 class="widget-title">All Categories <i class="rt-angle-down"></i></h2>
                                <nav>
                                    <ul>
                                        <li><a href="/">Footwears (Wingsteps) <i class="rt rt-arrow-right-long"></i></a></li>
                                        <li><a href="/">Laundry Essentials <i class="rt rt-arrow-right-long"></i></a></li>
                                        <li><a href="/">Skin/Bodycare <i class="rt rt-arrow-right-long"></i></a></li>
                                        <li><a href="/">Smart Home Solutions <i class="rt rt-arrow-right-long"></i></a></li>
                                        <li><a href="/">Window Blinds & Accessories<i class="rt rt-arrow-right-long"></i></a></li>
                                        <li><a href="/">Wall Coverings <i class="rt rt-arrow-right-long"></i></a></li>
                                        <li><a href="/">Floor Panels <i class="rt rt-arrow-right-long"></i></a></li>
                                        <li><a href="/">Other Gadgets <i class="rt rt-arrow-right-long"></i></a></li>
                                        
                                        <li><a href="/">...  <i class="rt rt-arrow-right-long"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile All Categories Bar -->
                    <div class="mobile-category-toggle d-block d-md-none">
                        <button class="category-toggle-btn">
                            <strong>All Categories</strong>
                            <i class="rt-angle-down"></i>
                        </button>
                        <div class="category-dropdown">
                            <ul>
                                <li><a href="/">Footwears (Wingsteps)</a></li>
                                <li><a href="/">Laundry Essentials</a></li>
                                <li><a href="/">Skin/Bodycare</a></li>
                                <li><a href="/">Smart Home Solutions</a></li>
                                <li><a href="/">Window Blinds & Accessories</a></li>
                                <li><a href="/">Wall Coverings</a></li>
                                <li><a href="/">Floor Panels</a></li>
                                <li><a href="/">Other Gadgets</a></li>
                            </ul>
                        </div>
                    </div>
  
                    <div class="col-xl-10 col-md-8 col-sm-12 gutter-2">
                        <div class="swiper bannerSlide2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="banner-single bg-image bg-image-3-1 bg-image-8-1">
                                        <div class="container">
                                            <div class="single-inner">
                                                <div class="content-box">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="banner-single bg-image bg-image-3-3 bg-image-8-2">
                                        <div class="container">
                                            <div class="single-inner">
                                                <div class="content-box">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="banner-single bg-image bg-image-3-4 bg-image-8-3">
                                        <div class="container">
                                            <div class="single-inner">
                                                <div class="content-box">
                                                    {% comment %} <img src="/static/images/banner/08.png" alt=""> {% endcomment %}
                                                    {% comment %} <h2 class="slider-title"> NEW GAMES <br> FOR RANDOM CLICK</h2>
                                                    <a href="#" class="slider-btn2">View Collections</a> {% endcomment %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="banner-single bg-image bg-image-3-4 bg-image-8-4">
                                        <div class="container">
                                            <div class="single-inner">
                                                <div class="content-box">
                                                    {% comment %} <img src="/static/images/banner/02.png" alt=""> {% endcomment %}
                                                    {% comment %} <h2 class="slider-title"> NEW GAMES <br> FOR RANDOM CLICK</h2>
                                                    <a href="#" class="slider-btn2">View Collections</a> {% endcomment %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-navigation">
                                <div class="swiper-button-prev slider-btn prev"><i
                                        class="rt rt-arrow-left-long"></i></div>
                                <div class="swiper-button-next slider-btn next"><i
                                        class="rt rt-arrow-right-long"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!--================= Banner Section End Here =================-->
</header>
<div class="rts-discount-section">
    <div class="rt-marquee">
        <div class="marquee-tag">
            <h3>Bulk Sale Discounts <span>off 30%</span></h3>
        </div>
        <div class="marquee-tag">
            <h3>Bulk Sale Discounts <span>off 30%</span></h3>
        </div>
        <div class="marquee-tag">
            <h3>Bulk Sale Discounts <span>off 30%</span></h3>
        </div>
        <div class="marquee-tag">
            <h3>Bulk Sale Discounts <span>off 30%</span></h3>
        </div>
        <div class="marquee-tag">
            <h3>Bulk Sale Discounts <span>off 30%</span></h3>
        </div>
        <div class="marquee-tag">
            <h3>Bulk Sale Discounts <span>off 30%</span></h3>
        </div>
        <div class="marquee-tag">
            <h3>Bulk Sale Discounts <span>off 30%</span></h3>
        </div>
        <div class="marquee-tag">
            <h3>Bulk Sale Discounts <span>off 30%</span></h3>
        </div>
        <div class="marquee-tag">
            <h3>Bulk Sale Discounts <span>off 30%</span></h3>
        </div>
        <div class="marquee-tag">
            <h3>Bulk Sale Discounts <span>off 30%</span></h3>
        </div>
    </div>
</div>
<!-- ..::Discount Section End Here::.. -->


<!-- ..::New Collection Section Start Here::.. -->
<div class="rts-new-collection-section section-gap">
    <div class="container">
        <div class="recent-products-header section-header">
        </div>
        <div class="swiper rts-cmmnSlider-over" data-swiper="pagination">
            <div class="swiper-wrapper">
                {% for c in categories %}
                <div class="swiper-slide">
                    <div class="collection-item">
                        <a href="/"><img src="{{c.image.url}}" style="width: 338px; height:450px;" alt="collection-image">
                        </a>
                        <p class="item-quantity">{{c.count}} <span>items</span></p>
                        <a href="/" class="item-catagory-box">
                            <h3 class="title">{{c.title}}</h3>
                        </a>
                    </div>
                </div>
                {% endfor %}
                                
            </div>
        </div>
    </div>
</div>
<!-- ..::New Collection Section End Here::.. -->

<!-- ..::Hand Picked Section Start Here::.. -->
<div class="rts-hand-picked-products-section">
    <div class="container">
        <div class="section-header section-header3 text-center">
            <div class="wrapper">
                <div class="sub-content">
                    <img class="line-1" src="/static/images/banner/wvbo-icon.png" alt="">
                    <span class="sub-text">Featured</span>
                    <img class="line-2" src="/static/images/banner/wvbo-icon.png" alt="">
                </div>
                <h2 class="title">HAND-PICKED PRODUCT</h2>
            </div>
        </div>
        <div class="slider-div">
            <div class="swiper rts-sixSlide-over">
                <div class="swiper-wrapper">
                    {% for p in products %}
                    <div class="swiper-slide">
                        <div class="product-item element-item1">
                            <a href="{% url 'store:product_detail' p.slug %}" class="product-image image-hover-variations">
                                <div class="image-vari1 image-vari"><img src="{{p.image.url}}"  style="width: 338px; height:450px;" alt="product-image">
                                </div>
                                <div class="image-vari2 image-vari"><img src="{{p.image.url}}" style="width: 338px; height:450px;" alt="product-image">
                                </div>
                            </a>
                            <div class="bottom-content">
                                <a href="/" class="product-name">{{p.category.title}}</a> <br>
                                <a href="{% url 'store:product_detail' p.slug %}" class="product-name"><b>{{p.name}}</b></a>
                                <div class="action-wrap">
                                    <span class="price">₦ {{p.price}}</span>
                                </div>
                            </div>
                            
                            <div class="quick-action-button">
                                <div class="cta-single cta-plus">
                                    <a href="#"><i class="rt-plus"></i></a>
                                </div>
                                <div class="cta-single cta-quickview">
                                    <a href="{% url 'store:product_detail' p.slug %}"><i class="far fa-eye"></i></a>
                                </div>
                                <div class="cta-single cta-wishlist">
                                    <a href="/"><i class="far fa-heart"></i></a>
                                </div>
                                <div class="cta-single cta-addtocart add_to_cart" data-id="{{p.id}}">
                                    <a href="/"><i class="rt-basket-shopping"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ..::Hand Picked Section End Here::.. -->

<!-- ..::Deal Section Start Here::.. -->
<div class="rts-deal-section1">
    <div class="container">
        <div class="section-inner">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"></div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="single-inner">
                        <div class="content-box">
                            <div class="sub-content">
                                <span class="sub-text">Smart Home Gadgets</span>
                            </div>
                            <h2 class="slider-title">Amazon Alexa <br> Echo Units </h2>
                            <div class="slider-description">
                                <p>Experience the beauty of our home automations with the Amazon Alexa Echo units, sensors, smart keylocks, and more...</p>
                            </div> 
                            <div class="countdown" id="countdown">
                                <ul>
                                    <li><span id="days"></span>D</li>
                                    <li><span id="hours"></span>H</li>
                                    <li><span id="minutes"></span>M</li>
                                    <li><span id="seconds"></span>S</li>
                                </ul>
                            </div>
                            <div class="content-bottom">
                                {% comment %} <div class="img-box"><img src="/static/images/hand-picked/deal-icon.png" alt=""> {% endcomment %}
                                </div>
                                <p class="content">Limited time offer. The deal expires <br>
                                    on November 12, 2025 HURRY UP!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ..::Deal Section End Here::.. -->

<!-- ..::Featured Product Section Start Here::.. -->
<div class="rts-featured-product-section1">
    <div class="container">
        <div class="rts-featured-product-section-inner">
            <div class="section-header section-header3 text-center">
                <div class="wrapper">
                    <div class="sub-content">
                        <img class="line-1" src="/static/images/banner/wvbo-icon.png" alt="">
                        <span class="sub-text">Featured</span>
                        <img class="line-2" src="/static/images/banner/wvbo-icon.png" alt="">
                    </div>
                    <h2 class="title">FEATURED PRODUCT</h2>
                </div>
            </div>
            <div class="row">
                {% for p in products %}
                <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                    <div class="product-item element-item1">
                        <a href="{% url 'store:product_detail' p.slug %}" class="product-image image-hover-variations">
                            <div class="image-vari1 image-vari"><img src="{{p.image.url}}" style="width: 338px; height:450px;" alt="product-image">
                            </div>
                            <div class="image-vari2 image-vari"><img src="{{p.image.url}}" style="width: 338px; height:450px;" alt="product-image">
                            </div>
                        </a>
                        <div class="bottom-content">
                            <div class="star-rating">
                                {% if not p.average_rating %}
                                    <i class="fas fa-star"></i>
                                {% elif p.average_rating > 0 and p.average_rating < 2 %}
                                    <i class="fas fa-star"></i>
                                {% elif p.average_rating > 1 and p.average_rating < 3 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                {% elif p.average_rating > 2 and p.average_rating < 4 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                {% elif p.average_rating > 3 and p.average_rating < 5 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                {% elif p.average_rating > 4 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>

                                {% endif %}
                            </div>
                                <a href="" class="product-name">{{p.category.title}}</a><br>
                                <a href="{% url 'store:product_detail' p.slug %}" class="product-name"><b>{{p.name}}</b></a>
                            <div class="action-wrap">
                                <span class="price">₦ {{p.price}}</span>
                            </div>
                        </div>
                        <div class="quick-action-button">
                            <div class="cta-single cta-plus">
                                <a href="#"><i class="rt-plus"></i></a>
                            </div>
                            <div class="cta-single cta-quickview">
                                <a href="{% url 'store:product_detail' p.slug %}"><i class="far fa-eye"></i></a>
                            </div>
                            <div class="cta-single cta-wishlist">
                                <a href="/"><i class="far fa-heart"></i></a>
                            </div>
                            <div class="cta-single cta-addtocart add_to_cart" data-id="{{p.id}}">
                                <a href="#"><i class="rt-basket-shopping"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- ..::Featured Product Section End Here::.. -->

<!-- ..::Brand Section Start Here::.. -->
<div class="rts-brands-section1 brand-bg3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="slider-div">
                    <div class="swiper rts-brandSlide1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a class="brand-front" href="#"><img src="/static/images/brands/farmstay.png" alt="Brand Logo"></a>
                            </div>
                            <div class="swiper-slide">
                                <a class="brand-front" href="#"><img src="/static/images/brands/alexa.png" alt="Brand Logo"></a>
                            </div>
                            <div class="swiper-slide">
                                <a class="brand-front" href="#"><img src="/static/images/brands/winart.png" alt="Brand Logo"></a>
                            </div>
                            <div class="swiper-slide">
                                <a class="brand-front" href="#"><img src="/static/images/brands/epicbargains.png" alt="Brand Logo"></a>
                            </div>
                            <div class="swiper-slide">
                                <a class="brand-front" href="#"><img src="/static/images/brands/dooya.png" alt="Brand Logo"></a>
                            </div>
                            <div class="swiper-slide">
                                <a class="brand-front" href="#"><img src="/static/images/brands/tuya.png" alt="Brand  "></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ..::Brand Section End Here::.. -->

<div class="rts-recent_products-section section-gap">
    <div class="container">
        <div class="recent-products-header section-header section-header3">
            <span class="section-pretitle section-pretitle2 mb--15">Featured</span>
            <span class="section-title-2 mb--5
            ">Wood Crafted Products</span>
            <div class="section-line mb-0"><img src="/static/images/items/curlyline.png" alt="line"></div>
        </div>
        <div class="products-area products-area3">
            <div class="row justify-content-center">
                <div class="col-lg-15 col-md-4 col-sm-6">
                    <div class="product-item product-item2 element-item3">
                        <a href="/" class="product-image">
                            <img src="/static/images/products/home3/1.jpg" alt="product-image">
                        </a>
                        <div class="bottom-content">
                            <span class="product-catagory">Hand Craft</span>
                            <a href="/" class="product-name">Minimalist Beard Mug</a>
                            <div class="action-wrap">
                                <span class="product-price">$31.00</span>
                                <a href="/" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                    Cart</a>
                            </div>
                        </div>
                        <div class="product-actions">
                            <a href="/" class="product-action"><i class="fal fa-heart"></i></a>
                            <button class="product-action product-details-popup-btn"><i
                                    class="fal fa-eye"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-15 col-md-4 col-sm-6">
                    <div class="product-item product-item2 element-item2">
                        <a href="/"
                            class="product-image image-slider-variations image-slider-variations3">
                            <div class="swiper productSlide">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="image-vari1 image-vari"><img
                                                src="/static/images/products/home3/2.jpg" alt="product-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image-vari2 image-vari"><img
                                                src="/static/images/products/home3/7.jpg" alt="product-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-buttons">
                                <div class="button-prev slider-btn"><i class="fal fa-long-arrow-left"></i></div>
                                <div class="button-next slider-btn"><i class="fal fa-long-arrow-right"></i></div>
                            </div>
                        </a>
                        <div class="bottom-content">
                            <span class="product-catagory">Hand Craft</span>
                            <a href="/" class="product-name">Wooden Handicraft</a>
                            <div class="action-wrap">
                                <span class="product-price">$31.00 <span class="old-price">$43.00</span></span>
                                <a href="/" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                    Cart</a>
                            </div>
                        </div>
                        <div class="product-features">
                            <div class="new-tag product-tag">NEW</div>
                            <div class="discount-tag product-tag">-35%</div>
                        </div>
                        <div class="product-actions">
                            <a href="/" class="product-action"><i class="fal fa-heart"></i></a>
                            <button class="product-action product-details-popup-btn"><i
                                    class="fal fa-eye"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-15 col-md-4 col-sm-6">
                    <div class="product-item product-item2 element-item3 popular">
                        <a href="/"
                            class="product-image image-gallery-variations image-gallery-variations3">
                            <div class="swiper productGallerySlide">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="image-vari1 image-vari"><img
                                                src="/static/images/products/home3/3.jpg" alt="product-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image-vari2 image-vari"><img
                                                src="/static/images/products/home3/9.jpg" alt="product-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="thumbs-area">
                            <div class="swiper productGallerySlideThumb">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="image-vari1 image-vari"><img
                                                src="/static/images/products/home3/3.jpg" alt="product-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image-vari2 image-vari"><img
                                                src="/static/images/products/home3/9.jpg" alt="product-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content">
                            <span class="product-catagory">Hand Craft</span>
                            <a href="/" class="product-name">Minimalist Beard Mug</a>
                            <div class="action-wrap">
                                <span class="product-price">$31.00</span>
                                <a href="/" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                    Cart</a>
                            </div>
                        </div>
                        <div class="product-actions">
                            <a href="/" class="product-action"><i class="fal fa-heart"></i></a>
                            <button class="product-action product-details-popup-btn"><i
                                    class="fal fa-eye"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-15 col-md-4 col-sm-6">
                    <div class="product-item product-item2 element-item1">
                        <a href="/" class="product-image">
                            <img src="/static/images/products/home3/4.jpg" alt="product-image">
                        </a>
                        <div class="bottom-content">
                            <span class="product-catagory">Hand Craft</span>
                            <a href="/" class="product-name">Modern Handicraft</a>
                            <div class="action-wrap">
                                <span class="product-price">$31.00</span>
                                <a href="/" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                    Cart</a>
                            </div>
                        </div>
                        <div class="product-actions">
                            <a href="/" class="product-action"><i class="fal fa-heart"></i></a>
                            <button class="product-action product-details-popup-btn"><i
                                    class="fal fa-eye"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-15 col-md-4 col-sm-6">
                    <div class="product-item product-item2 element-item1">
                        <a href="/" class="product-image">
                            <img src="/static/images/products/home3/5.jpg" alt="product-image">
                        </a>
                        <div class="bottom-content">
                            <a href="/" class="product-name">Modern Glasses Mug</a>
                            <div class="action-wrap">
                                <span class="product-price">$31.00</span>
                                <a href="/" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                    Cart</a>
                            </div>
                        </div>
                        <div class="product-features">
                            <div class="new-tag product-tag">NEW</div>
                            <div class="hot-tag product-tag">HOT</div>
                        </div>
                        <div class="product-actions">
                            <a href="/" class="product-action"><i class="fal fa-heart"></i></a>
                            <button class="product-action product-details-popup-btn"><i
                                    class="fal fa-eye"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-15 col-md-4 col-sm-6">
                    <div class="product-item product-item2 element-item1">
                        <a href="/" class="product-image">
                            <img src="/static/images/products/home3/6.jpg" alt="product-image">
                        </a>
                        <div class="bottom-content">
                            <a href="/" class="product-name">Adapt Camo Seamless Shorts</a>
                            <div class="action-wrap">
                                <span class="product-price">$31.00</span>
                                <a href="/" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                    Cart</a>
                            </div>
                        </div>
                        <div class="product-actions">
                            <a href="/" class="product-action"><i class="fal fa-heart"></i></a>
                            <button class="product-action product-details-popup-btn"><i
                                    class="fal fa-eye"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-15 col-md-4 col-sm-6">
                    <div class="product-item product-item2 element-item1">
                        <a href="/" class="product-image">
                            <img src="/static/images/products/home3/7.jpg" alt="product-image">
                        </a>
                        <div class="bottom-content">
                            <span class="product-catagory">Hand Craft</span>
                            <a href="/" class="product-name">Minimalist Beard Mug</a>
                            <div class="action-wrap">
                                <span class="product-price">$31.00</span>
                                <a href="/" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                    Cart</a>
                            </div>
                        </div>
                        <div class="product-actions">
                            <a href="/" class="product-action"><i class="fal fa-heart"></i></a>
                            <button class="product-action product-details-popup-btn"><i
                                    class="fal fa-eye"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-15 col-md-4 col-sm-6">
                    <div class="product-item product-item2 element-item1">
                        <a href="/" class="product-image">
                            <img src="/static/images/products/home3/8.jpg" alt="product-image">
                        </a>
                        <div class="bottom-content">
                            <a href="/" class="product-name">Adapt Camo Seamless Shorts</a>
                            <div class="action-wrap">
                                <span class="product-price">$31.00 <span class="old-price">$43.00</span></span>
                                <a href="/" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                    Cart</a>
                            </div>
                        </div>
                        <div class="product-features">
                            <div class="hot-tag product-tag">HOT</div>
                            <div class="discount-tag product-tag">-35%</div>
                        </div>
                        <div class="product-actions">
                            <a href="/" class="product-action"><i class="fal fa-heart"></i></a>
                            <button class="product-action product-details-popup-btn"><i
                                    class="fal fa-eye"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-15 col-md-4 col-sm-6">
                    <div class="product-item product-item2 element-item1">
                        <a href="/" class="product-image">
                            <img src="/static/images/products/home3/9.jpg" alt="product-image">
                        </a>
                        <div class="bottom-content">
                            <span class="product-catagory">Hand Craft</span>
                            <a href="/" class="product-name">Minimalist Beard Mug</a>
                            <div class="action-wrap">
                                <span class="product-price">$31.00</span>
                                <a href="/" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                    Cart</a>
                            </div>
                        </div>
                        <div class="product-actions">
                            <a href="/" class="product-action"><i class="fal fa-heart"></i></a>
                            <button class="product-action product-details-popup-btn"><i
                                    class="fal fa-eye"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-15 col-md-4 col-sm-6">
                    <div class="product-item product-item2 element-item1">
                        <a href="/" class="product-image">
                            <img src="/static/images/products/home3/10.jpg" alt="product-image">
                        </a>
                        <div class="bottom-content">
                            <span class="product-catagory">Hand Craft</span>
                            <a href="/" class="product-name">Minimalist Beard Mug</a>
                            <div class="action-wrap">
                                <span class="product-price">$31.00</span>
                                <a href="/" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                    Cart</a>
                            </div>
                        </div>
                        <div class="product-actions">
                            <a href="/" class="product-action"><i class="fal fa-heart"></i></a>
                            <button class="product-action product-details-popup-btn"><i
                                    class="fal fa-eye"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="/" class="all-products-link">All products <i
                    class="fal fa-long-arrow-right ml--10"></i></a>
        </div>
    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function () {
      const toggleBtn = document.querySelector(".category-toggle-btn");
      const dropdown = document.querySelector(".category-dropdown");
  
      if (toggleBtn && dropdown) {
        toggleBtn.addEventListener("click", () => {
          dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
        });
      }
    });
  </script>
  


{% endblock content %}