{% extends '../layout/layout.html' %}


{% block script %}
        <script src="/static/js/vendors/zoom.js"></script> 
{% endblock %} 

{% block content %}

<header id="rtsHeader"> 
    
    {% comment %} <!-- slide-bar start -->
    <aside class="slide-bar">
        <div class="offset-sidebar">
            <a class="hamburger-1 mobile-hamburger-1 ml--30" href="#"><span><i class="rt-xmark"></i></span></a>
        </div>
        <!-- offset-sidebar start -->
        <div class="offset-sidebar-main">
            <div class="offset-widget mb-40">
                <div class="info-widget">
                    <img src="/static/images/logo1.png" alt="">
                    <p class="mb-30">
                        We must explain to you how all seds this mistakens idea denouncing pleasures and praising account.
                    </p>
                </div>
                <div class="info-widget info-widget2">
                    <h4 class="offset-title mb-20">Get In Touch </h4>
                    <ul>
                        <li class="info phone"><a href="tel:78090790890208806803">+234 81888 44722, +234 81888 44711</a></li>
                        <li class="info email"><a href="email:info@webmail.com">info@epicbargains.com</a></li>
                
                        <li class="info location">121 Ikorodu Road, Onipanu, Lagos</li>
                    </ul>
                    <div class="offset-social-link">
                        <h4 class="offset-title mb-20">Follow Us </h4>
                        <ul class="social-icon">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- offset-sidebar end -->
        <!-- side-mobile-menu start -->
        <nav class="side-mobile-menu side-mobile-menu1">
            <ul id="mobile-menu-active">
                <li class="has-dropdown firstlvl">
                    <a class="mm-link" href="#">Home </a>
                </li>
                <li class="has-dropdown firstlvl">
                    <a class="mm-link" href="/">Shop </a>
                    
                </li>
                <li><a class="mm-link" href="/">About</a></li>
                <li class="has-dropdown firstlvl">
                    <a class="mm-link" href="/">Pages <i class="rt-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li><a href="">Cart</a></li>
                        <li><a href="/">Wishlist</a></li>
    
                        <li><a href="/">FAQ's</a></li>
                        <li><a href="/">Sign In/Register</a></li>
                    </ul>
                </li>
                
                <li><a class="mm-link" href="/">Contact</a></li>
            </ul>
        </nav>
        <div class="header-action-items header-action-items1 header-action-items-side">
            <div class="search-part">
                <div class="search-icon action-item icon"><i class="rt-search"></i></div>
                <div class="search-input-area">
                    <div class="container">
                        <div class="search-input-inner">
                            <select id="custom-select">
                                <option value="hide">All Catagory</option>
                                <option value="all">All</option>
                                <option value="men">Men</option>
                                <option value="women">Women</option>
                                <option value="shoes">Shoes</option>
                                <option value="shoes">Glasses</option>
                                <option value="shoes">Bags</option>
                                <option value="shoes">Assesories</option>
                            </select>
                            <div class="input-div">
                                <div class="search-input-icon"><i class="rt-search mr--10"></i></div>
                                <input class="search-input" type="text" placeholder="Search by keyword or #">
                            </div>
                            <div class="search-close-icon"><i class="rt-xmark"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart action-item">
                <div class="cart-nav">
                    <div class="cart-icon icon add_to_cart" data-id="{{p.id}}"><i class="rt-cart"></i><span class="wishlist-dot icon-dot">{{total_cart_items.count}}</span>
                    </div>
                </div>
            </div>
            <div class="wishlist action-item">
                <div class="favourite-icon icon"><i class="rt-heart"></i><span class="cart-dot icon-dot">0</span>
                </div>
            </div>
            <a href="#" class="account"><i class="rt-user-2"></i></a>
        </div>
        <!-- side-mobile-menu end -->
    </aside> {% endcomment %}
    <!--================= Banner Section Start Here =================-->
    
    <div class="banner banner-1 bg-image">
        <div class="container">
            <div class="banner-inner">
                <div class="row">
                    <div class="col-xl-2 col-md-4 col-sm-12 gutter-1">
                        <div class="catagory-sidebar">
                            <div class="widget-bg">
                                <h2 class="widget-title">All Categories <i class="rt-angle-down"></i></h2>
                                <nav>
                                    <ul>
                                        <li><a href="/">Footwears (Wingsteps) <i class="rt rt-arrow-right-long"></i></a></li>
                                        <li><a href="/">Laundry Essentials <i class="rt rt-arrow-right-long"></i></a></li>
                                        <li><a href="/">Skin/Bodycare <i class="rt rt-arrow-right-long"></i></a></li>
                                        <li><a href="/">Smart Home Solutions <i class="rt rt-arrow-right-long"></i></a></li>
                                        <li><a href="/">Window Blinds & Accessories<i class="rt rt-arrow-right-long"></i></a></li>
                                        <li><a href="/">Wall Coverings <i class="rt rt-arrow-right-long"></i></a></li>
                                        <li><a href="/">Floor Panels <i class="rt rt-arrow-right-long"></i></a></li>
                                        <li><a href="/">Other Gadgets <i class="rt rt-arrow-right-long"></i></a></li>
                                        
                                        <li><a href="/">...  <i class="rt rt-arrow-right-long"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile All Categories Bar -->
                    <div class="mobile-category-toggle d-block d-md-none">
                        <button class="category-toggle-btn">
                            <strong>All Categories</strong>
                            <i class="rt-angle-down"></i>
                        </button>
                        <div class="category-dropdown">
                            <ul>
                                <li><a href="/">Footwears (Wingsteps)</a></li>
                                <li><a href="/">Laundry Essentials</a></li>
                                <li><a href="/">Skin/Bodycare</a></li>
                                <li><a href="/">Smart Home Solutions</a></li>
                                <li><a href="/">Window Blinds & Accessories</a></li>
                                <li><a href="/">Wall Coverings</a></li>
                                <li><a href="/">Floor Panels</a></li>
                                <li><a href="/">Other Gadgets</a></li>
                            </ul>
                        </div>
                    </div>
  
                    <div class="col-xl-10 col-md-8 col-sm-12 gutter-2">
                        <div class="swiper bannerSlide2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="banner-single bg-image bg-image-3-1 bg-image-8-1">
                                        <div class="container">
                                            <div class="single-inner">
                                                <div class="content-box">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="banner-single bg-image bg-image-3-3 bg-image-8-2">
                                        <div class="container">
                                            <div class="single-inner">
                                                <div class="content-box">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="banner-single bg-image bg-image-3-4 bg-image-8-3">
                                        <div class="container">
                                            <div class="single-inner">
                                                <div class="content-box">
                                                    {% comment %} <img src="/static/images/banner/08.png" alt=""> {% endcomment %}
                                                    {% comment %} <h2 class="slider-title"> NEW GAMES <br> FOR RANDOM CLICK</h2>
                                                    <a href="#" class="slider-btn2">View Collections</a> {% endcomment %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="banner-single bg-image bg-image-3-4 bg-image-8-4">
                                        <div class="container">
                                            <div class="single-inner">
                                                <div class="content-box">
                                                    {% comment %} <img src="/static/images/banner/02.png" alt=""> {% endcomment %}
                                                    {% comment %} <h2 class="slider-title"> NEW GAMES <br> FOR RANDOM CLICK</h2>
                                                    <a href="#" class="slider-btn2">View Collections</a> {% endcomment %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-navigation">
                                <div class="swiper-button-prev slider-btn prev"><i
                                        class="rt rt-arrow-left-long"></i></div>
                                <div class="swiper-button-next slider-btn next"><i
                                        class="rt rt-arrow-right-long"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!--================= Banner Section End Here =================-->
</header>
<!-- ..::Offer Section Start Here::.. -->
<div class="rts-offer-section">
    <div class="container">
        <div class="rts-offer-inner">
            <p class="description">Super discount for your bulk purchases! <a href="/">OFFER</a>
            </p>
        </div>
    </div>
</div>
<!-- ..::Offer Section End Here::.. -->

<!-- ..::New Collection Section Start Here::.. -->
<div class="rts-new-collection-section section-gap">
    <div class="container">
        <div class="recent-products-header section-header">
        </div>
        <div class="swiper rts-cmmnSlider-over" data-swiper="pagination">
            <div class="swiper-wrapper">
                {% for c in categories %}
                <div class="swiper-slide">
                    <div class="collection-item">
                        <a href="/"><img src="/static/images/catagory/item-1.png" alt="collection-image">
                        </a>
                        <p class="item-quantity">{{c.category.count}} <span>items</span></p>
                        <a href="/" class="item-catagory-box">
                            <h3 class="title">{{c.title}}</h3>
                        </a>
                    </div>
                </div>
                {% endfor %}
                                
            </div>
        </div>
    </div>
</div>
<!-- ..::New Collection Section End Here::.. -->

<!-- ..::Hand Picked Section Start Here::.. -->
<div class="rts-hand-picked-products-section">
    <div class="container">
        <div class="section-header section-header3 text-center">
            <div class="wrapper">
                <div class="sub-content">
                    <img class="line-1" src="/static/images/banner/wvbo-icon.png" alt="">
                    <span class="sub-text">Featured</span>
                    <img class="line-2" src="/static/images/banner/wvbo-icon.png" alt="">
                </div>
                <h2 class="title">HAND-PICKED PRODUCT</h2>
            </div>
        </div>
        <div class="slider-div">
            <div class="swiper rts-sixSlide-over">
                <div class="swiper-wrapper">
                    {% for p in products %}
                    <div class="swiper-slide">
                        <div class="product-item element-item1">
                            <a href="{% url 'store:product_detail' p.slug %}" class="product-image image-hover-variations">
                                <div class="image-vari1 image-vari"><img src="{{p.image.url}}"  style="width: 338px; height:450px;" alt="product-image">
                                </div>
                                <div class="image-vari2 image-vari"><img src="{{p.image.url}}" style="width: 338px; height:450px;" alt="product-image">
                                </div>
                            </a>
                            <div class="bottom-content">
                                <a href="/" class="product-name">{{p.category.title}}</a> <br>
                                <a href="{% url 'store:product_detail' p.slug %}" class="product-name"><b>{{p.name}}</b></a>
                                <div class="action-wrap">
                                    <span class="price">₦ {{p.price}}</span>
                                </div>
                            </div>
                            
                            <div class="quick-action-button">
                                <div class="cta-single cta-plus">
                                    <a href="#"><i class="rt-plus"></i></a>
                                </div>
                                <div class="cta-single cta-quickview">
                                    <a href="{% url 'store:product_detail' p.slug %}"><i class="far fa-eye"></i></a>
                                </div>
                                <div class="cta-single cta-wishlist">
                                    <a href="/"><i class="far fa-heart"></i></a>
                                </div>
                                <div class="cta-single cta-addtocart add_to_cart" data-id="{{p.id}}">
                                    <a href="/"><i class="rt-basket-shopping"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ..::Hand Picked Section End Here::.. -->

<!-- ..::Deal Section Start Here::.. -->
<div class="rts-deal-section1">
    <div class="container">
        <div class="section-inner">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"></div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="single-inner">
                        <div class="content-box">
                            <div class="sub-content">
                                <img class="line-1" src="/static/images/banner/wvbo-icon.png" alt="">
                                <span class="sub-text">Deal Of The Week</span>
                            </div>
                            <h2 class="slider-title">Roland Grand White <br> short T-shirt </h2>
                            <div class="slider-description">
                                <p>Our intent and our actions have always been informed by progress. We
                                    look at an impact report as a way to measure.</p>
                            </div>
                            <div class="countdown" id="countdown">
                                <ul>
                                    <li><span id="days"></span>D</li>
                                    <li><span id="hours"></span>H</li>
                                    <li><span id="minutes"></span>M</li>
                                    <li><span id="seconds"></span>S</li>
                                </ul>
                            </div>
                            <div class="content-bottom">
                                <div class="img-box"><img src="/static/images/hand-picked/deal-icon.png" alt="">
                                </div>
                                <p class="content">Limited time offer. The deal will expires <br>
                                    on November 12, 2024 HURRY UP!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ..::Deal Section End Here::.. -->

<!-- ..::Featured Product Section Start Here::.. -->
<div class="rts-featured-product-section1">
    <div class="container">
        <div class="rts-featured-product-section-inner">
            <div class="section-header section-header3 text-center">
                <div class="wrapper">
                    <div class="sub-content">
                        <img class="line-1" src="/static/images/banner/wvbo-icon.png" alt="">
                        <span class="sub-text">Featured</span>
                        <img class="line-2" src="/static/images/banner/wvbo-icon.png" alt="">
                    </div>
                    <h2 class="title">FEATURED PRODUCT</h2>
                </div>
            </div>
            <div class="row">
                {% for p in products %}
                <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                    <div class="product-item element-item1">
                        <a href="{% url 'store:product_detail' p.slug %}" class="product-image image-hover-variations">
                            <div class="image-vari1 image-vari"><img src="{{p.image.url}}" style="width: 338px; height:450px;" alt="product-image">
                            </div>
                            <div class="image-vari2 image-vari"><img src="{{p.image.url}}" style="width: 338px; height:450px;" alt="product-image">
                            </div>
                        </a>
                        <div class="bottom-content">
                            <div class="star-rating">
                                {% if not p.average_rating %}
                                    <i class="fas fa-star"></i>
                                {% elif p.average_rating > 0 and p.average_rating < 2 %}
                                    <i class="fas fa-star"></i>
                                {% elif p.average_rating > 1 and p.average_rating < 3 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                {% elif p.average_rating > 2 and p.average_rating < 4 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                {% elif p.average_rating > 3 and p.average_rating < 5 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                {% elif p.average_rating > 4 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>

                                {% endif %}
                            </div>
                                <a href="" class="product-name">{{p.category.title}}</a><br>
                                <a href="{% url 'store:product_detail' p.slug %}" class="product-name"><b>{{p.name}}</b></a>
                            <div class="action-wrap">
                                <span class="price">₦ {{p.price}}</span>
                            </div>
                        </div>
                        <div class="quick-action-button">
                            <div class="cta-single cta-plus">
                                <a href="#"><i class="rt-plus"></i></a>
                            </div>
                            <div class="cta-single cta-quickview">
                                <a href="{% url 'store:product_detail' p.slug %}"><i class="far fa-eye"></i></a>
                            </div>
                            <div class="cta-single cta-wishlist">
                                <a href="/"><i class="far fa-heart"></i></a>
                            </div>
                            <div class="cta-single cta-addtocart add_to_cart" data-id="{{p.id}}">
                                <a href="#"><i class="rt-basket-shopping"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- ..::Featured Product Section End Here::.. -->

<!-- ..::Posters Section Start Here::.. -->
<div class="rts-posters-section1">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
                <a href="/" class="product-box product-box-medium product-box-medium5">
                    <div class="contents">
                        <span class="pretitle">50% Offer</span>
                        <h1 class="product-title">Last call for up <br> to 30% off</h1>
                        <div class="view-collections go-btn">VIEW COLLECTIONS <i class="rt-arrow-right-long"></i>
                        </div>
                    </div>
                    <div class="product-thumb"><img src="/static/images/featured/pot.png" alt="product-thumb">
                    </div>
                </a>
            </div>
            <div class="col-xl-6 col-lg-12 col-sm-12 col-12 last-child">
                <a href="/" class="product-box product-box-medium mid">
                    <div class="contents">
                        <span class="pretitle">-45% Offer</span>
                        <h1 class="product-title">SUMMER COLLECTION</h1>
                        <p>Don't miss the last opportunity</p>
                    </div>
                    <div class="product-thumb product-thumb1"><img src="/static/images/products/dress.png" alt="product-thumb"></div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
                <a href="/" class="product-box product-box-medium product-box-medium3">
                    <div class="contents">
                        <span class="pretitle">SUMMER DRESS</span>
                        <h1 class="product-title">BEST COLLECTION</h1>
                        <div class="view-collections go-btn">Shop Now <i class="rt-arrow-right-long"></i></div>
                    </div>
                    <div class="product-thumb"><img src="/static/images/featured/3rd-image.png" alt="product-thumb"></div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- ..::Posters Section End Here::.. -->

<!-- ..::Brand Section Start Here::.. -->
<div class="rts-brands-section1 brand-bg3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="slider-div">
                    <div class="swiper rts-brandSlide1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a class="brand-front" href="#"><img src="/static/images/brands/client-01.png" alt="Brand Logo"></a>
                            </div>
                            <div class="swiper-slide">
                                <a class="brand-front" href="#"><img src="/static/images/brands/client-02.png" alt="Brand Logo"></a>
                            </div>
                            <div class="swiper-slide">
                                <a class="brand-front" href="#"><img src="/static/images/brands/client-03.png" alt="Brand Logo"></a>
                            </div>
                            <div class="swiper-slide">
                                <a class="brand-front" href="#"><img src="/static/images/brands/client-04.png" alt="Brand Logo"></a>
                            </div>
                            <div class="swiper-slide">
                                <a class="brand-front" href="#"><img src="/static/images/brands/client-05.png" alt="Brand Logo"></a>
                            </div>
                            <div class="swiper-slide">
                                <a class="brand-front" href="#"><img src="/static/images/brands/client-06.png" alt="Brand  "></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ..::Brand Section End Here::.. -->

<!-- ..::Featured Product Section Start Here::.. -->
<div class="rts-featured-product-section3">
    <div class="container">
        <div class="rts-featured-product-section-inner">
            <div class="section-header section-header3 text-center">
                <div class="wrapper">
                    <div class="sub-content">
                        <img class="line-1" src="/static/images/banner/wvbo-icon.png" alt="">
                        <span class="sub-text">Featured</span>
                        <img class="line-2" src="/static/images/banner/wvbo-icon.png" alt="">
                    </div>
                    <h2 class="title">FEATURED PRODUCT</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="full-wrapper wrapper-1">
                        <div class="image-part">
                            <a href="#" class="image"><img src="/static/images/featured/img-1.jpg" alt="Featured Image"></a>
                        </div>
                        <div class="blog-content">
                            <span class="date-full">
                                <span class="day">25</span>
                                <br>
                                <span class="month">Jul</span>
                            </span>
                            <ul class="blog-meta">
                                <li><a href="#">WINTER DRESS</a></li>
                            </ul>
                            <div class="title">
                                <a href="#">Once that’s determined with a good, you need to come up with a name</a>
                            </div>
                            <div class="author-info d-flex align-items-center">
                                <div class="avatar"><img src="/static/images/featured/author.png" alt="Author Image"></div>
                                <div class="info">
                                    <p class="author-name">PixcelsThemes</p>
                                    <p class="author-dsg">Author</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="full-wrapper wrapper-2">
                        <div class="image-part">
                            <a href="#" class="image"><img src="/static/images/featured/img-2.jpg" alt="Featured Image"></a>
                        </div>
                        <div class="blog-content">
                            <span class="date-full">
                                <span class="day">25</span>
                                <br>
                                <span class="month">Jul</span>
                            </span>
                            <ul class="blog-meta">
                                <li><a href="#">WINTER DRESS</a></li>
                            </ul>
                            <div class="title">
                                <a href="#">Once determined, you need to come up with a name a legal structure</a>
                            </div>
                            <div class="author-info d-flex align-items-center">
                                <div class="avatar"><img src="/static/images/featured/author.png" alt="Author Image"></div>
                                <div class="info">
                                    <p class="author-name">PixcelsThemes</p>
                                    <p class="author-dsg">Author</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="full-wrapper wrapper-3">
                        <div class="image-part">
                            <a href="#" class="image"><img src="/static/images/featured/img-3.jpg" alt="Featured Image"></a>
                        </div>
                        <div class="blog-content">
                            <span class="date-full">
                                <span class="day">25</span>
                                <br>
                                <span class="month">Jul</span>
                            </span>
                            <ul class="blog-meta">
                                <li><a href="#">WINTER DRESS</a></li>
                            </ul>
                            <div class="title">
                                <a href="#">At the limit, statically generated, edge delivered a food</a>
                            </div>
                            <div class="author-info d-flex align-items-center">
                                <div class="avatar"><img src="/static/images/featured/author.png" alt="Author Image"></div>
                                <div class="info">
                                    <p class="author-name">PixcelsThemes</p>
                                    <p class="author-dsg">Author</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ..::Featured Product Section End Here::.. -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
      const toggleBtn = document.querySelector(".category-toggle-btn");
      const dropdown = document.querySelector(".category-dropdown");
  
      if (toggleBtn && dropdown) {
        toggleBtn.addEventListener("click", () => {
          dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
        });
      }
    });
  </script>
  


{% endblock content %}